{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <script type="text/javascript">
        async function postData(url, data) {
            const response = await fetch(url, data);
            return response.json();
        }

        async function uploadFile() {
            let formData = new FormData();
            formData.append("upload_file", fileupload.files[0]);
            data = {
                method: "POST",
                body: formData
            }

            let IP = "{{docker_ip}}"
            let PORT = "{{docker_port}}"
            console.log(IP, PORT)

            let url = "http://" + IP + ":" + PORT + "/upload_file"
            console.log(url)

            postData(url, data).then((resp) => {
                console.log(resp);
            })
        }

    </script>

    <p>Pick a file from your file directory to upload to the server ... </p>                          
    <input  id="fileupload" type="file"/>
    <button onclick="uploadFile()" class='btn btn-primary btn-sm'>Upload File</button>

</div>

{% endblock %}