{% extends "layout.html" %}
{% block content %}
<div class="container"></div>
<h1>Home Page</h1>
<br>
<h2>List of features</h2>
<br>
<p>We have a lot of features on the DAKU platform. Here below, you can see a description of the primary features along with a video tutorial on how to use the respective feature on the platform.</p>
<br>

<h4>1. Login/Register</h4>
<p>For using the app features, a user has to register with our DAKU app with a valid email id, and password.</p>
<p>Once a user has registered with DAKU, they have to login into their account to access the features of our app. Login can be done using the email address and password used while registering with the app.</p>
<p>Below, you can see a tutorial on how to register as a user and login on the platform:</p>
<iframe width="500" height="250" src="https://www.youtube.com/embed/rdg6S3NPQv0" title="A tutorial series on 'How to use DAKU' - PART 1" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<br>
<br>
<h4>2. File Upload and Download</h4>
<p>For uploading a file into the file system, the user has to first select the upload file option from the Functions drop down menu. The user can select the file that they want to upload and click on the upload file button. 
Our app also shows the status of the upload.</p>
<p>My files option shows all the files corresponding to a user account in a list format. A user can save any kind of file in our filesystem like image file, txt file, code files, pdfs etc. There is no restriction on the type of file which can be stored in our file system.</p>
<p>For the list of files, a user can download any file that they want using the download button.</p>
<p>Below, you can see a tutorial on how to upload a file on the platform and donwload it from here:</p>
<iframe width="500" height="250" src="https://www.youtube.com/embed/YVnmUCqxHxg" title="A tutorial series on 'How to use DAKU' - PART 2" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<br>
<br>
<h4>3. Delete File, Restore and Permanent Delete</h4>
<p>A user can also delete any file they want. The deleted files are no longer shown in the My Files section of the app.</p>
<p>The deleted files are stored inside the bin folder of our app. On opening the recycle bin, it shows the list of all the files that the user has deleted.
    On the deleted file, a user can perform two operations:</p>   
    <p>1. Restore File</p>
    <p>2. Permanently Delete the File</p>
<p>Below, you can see a tutorial on how to delete a file from the platform, restore it or permanently delete it:</p>
<iframe width="500" height="250" src="https://www.youtube.com/embed/u7VUKofLoMU" title="A tutorial series on 'How to use DAKU' - PART 3" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>
<br>
<br>
<h4>4. Run Beast</h4>
<p>Beast is a build system. It is a tool that helps you build your projects with ease and efficiency. 
    Written primarily in C++, it provides you with one of the easiest and fastest ways to build your projects.</p>
<p>Below, you can see a tutorial on how to run a script on beast on our platform: </p>
<iframe width="500" height="250" src="https://www.youtube.com/embed/OQGFOGYT09c" title="A tutorial series on 'How to use DAKU' - PART 4" frameborder="10" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<hr>
{% endblock content %}