{% extends '../base.html' %} {% block content %}

<div class="container">
    <pre><b>beast.build</b>; Refer <a href="https://github.com/GauravDawra/Beast">here</a> for more details.</pre>
    <p>{{ docker_details }}</p>

    <div id="editorCode" class="editor__code"></div>

    <button class="editor__btn editor__run">Run</button>
    <button class="editor__btn editor__reset">Reset</button>

    <pre class="pt-2">Console Logs</pre>
    <pre class="editor__console"></pre>

</div>

<script>
    let codeEditor = ace.edit("editorCode");

    let editorLib = {
        init() {
            // theme
            codeEditor.setTheme("ace/theme/eclipse");

            // set options
            codeEditor.setOptions({
                fontSize: '24pt',
            });
        }
    }

    editorLib.init();

    // Retrieve Elements
    const executeCodeBtn = document.querySelector(".editor__run");
    const resetCodeBtn = document.querySelector(".editor__reset");
    const consoleLogs = document.querySelector(".editor__console")

    resetCodeBtn.addEventListener('click', () => {
        // clear ace editor
        codeEditor.setValue('');
        consoleLogs.innerHTML = '';
    });

    // hardcode external IP for now
    let url = "http://192.168.192.148:" + "{{docker_port}}" + "/run_beast"
    console.log(url)
    
    // Events
    executeCodeBtn.addEventListener('click', () => {
        consoleLogs.innerHTML = ''
        // get input from code editor
        const userCode = codeEditor.getValue();
        beastData = {
            "script": userCode
        }

        data = {
            method: "POST", 
            body: JSON.stringify(beastData)
        }

        postData(url, data)
        .then((resp) => {
            resp['output'].forEach(element => {
                console.log(element);
                consoleLogs.innerHTML += element + "\n";
            });
        })
 
    });

    async function postData(url, data) {
        const response = await fetch(url, data);
        return response.json();
    }

</script>


{% endblock %}