{% extends '../base.html' %} {% block content %}

<div id="editorCode" class="editor__code"></div>

<button class="editor__btn editor__run">Run</button>
<button class="editor__btn editor__reset">Reset</button>
<select id="editorLang" class="editor__lang">
    <option value="None" selected>None</option>
    <option value="Python">Python</option>
    <option value="Java">Java</option>
    <option value="JavaScript">JavaScript</option>
    <option value="C++">C++</option>
</select>

<div class="editor__console">
    <ul class="editor__console-logs"></ul>
</div>

{% endblock %}