{% extends "../base.html" %}

{% block content %}

<div class="container">
    <h1>Home Page for Daku</h1>
    <p>File contents stored on server will come here.</p>

    <table id="fileTableList" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <!-- https://stackoverflow.com/questions/18333427/how-to-insert-a-row-in-an-html-table-body-in-javascript#:~:text=insertRow(tableRef.,the%20end%20of%20the%20table. -->
    <script type="text/javascript">
        IP = "{{docker_ip}}"
        PORT = "{{docker_port}}"
        url = "http://" + IP + ":" + PORT + "/list_files"

        var tBodyRef = document.getElementById('fileTableList').getElementsByTagName('tbody')[0];
        fetch(url).then((response) => {
            return response.json()
        })
            .then((data) => {
                console.log(data.file_names)
                const fileNames = data.file_names;
                fileNames.sort();
                fileNames.forEach(function(value, i) {
                    console.log("%d: %s", i, value)
                    var row = document.createElement('tr');

                    var cell_idx = document.createElement('td');
                    var cell_value = document.createElement('td');
                    cell_idx.innerHTML = i;
                    cell_value.innerHTML = value;
                
                    row.appendChild(cell_idx);
                    row.appendChild(cell_value);

                    tBodyRef.appendChild(row);
                });
            }).catch(error => {
                console.log("error happened")
                console.dir(error)
            });


    </script>


</div>


{% endblock %}