{% extends "../../base.html" %}

{% block content %}

<div class="container">
  

  <h1>My Dashboard</h1>
  <p><strong>Email : </strong> {{user.email}}</p>
  <p><strong>Last login : </strong> {{user.last_login}}</p>
  <p><strong>My containers currently running : </strong></p>
  {% for container in containers %}
    <p>{{container.container_id}}</p>
  {% endfor %}

  <p><strong>Current Storage Used : </strong><span id="currentStorageUsed"></span></p>
  <p><strong>Current Plan : </strong><span id="currentUserPlan"></span></p>

  <script>
    IP = "{{docker_ip}}"
    PORT=  "{{docker_port}}"
    console.log(IP + " " + PORT)

    const csu = document.getElementById("currentStorageUsed")
    const cup = document.getElementById("currentUserPlan")
    const url_csu = "http://" + IP + ":" + PORT + "/get_size_pwd"

    function getCurrentUserPlan() {
      return "BASIC"
    }

    cup.innerHTML = getCurrentUserPlan()

    fetch(url_csu).then((response) => {
      return response.json()
    })
    .then((data) => {
      console.log(data)
      size = Math.round(data.size / 1024)
      csu.innerHTML = size + " Kilo Bytes";
    }).catch(error => {
      console.log("error happened")
      console.dir(error)
    });

  </script>
</div>

{% endblock %}